<!-- deakh.html START-->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-G4VNZJ532B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G4VNZJ532B');
</script>



<script defer src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js"></script>
<script>
  window.OneSignalDeferred = window.OneSignalDeferred || [];
  OneSignalDeferred.push(async function(OneSignal) {
    await OneSignal.init({
      appId: "11361913-3ee9-4276-95b8-14ba697bfacb",
      // Doing this because the site is served from a subfolder, and the default service worker location won't work
      serviceWorkerPath: '/news/OneSignalSDKWorker.js',
      serviceWorkerParam: { scope: '/news/' },
    });
  });
</script>


<!-- deakh.html END -->
